.form{
    display:flex;
    flex-direction: column;
    width: 100%;
}

button{
    float: right;
}
.headingPosition {
    padding-left: 2rem;
    padding-top: 0.5rem;
}

.alert{
    color: red !important;
    padding: 0% !important;
}