.footerStyles {
    display: flex;
    justify-Content: center;
    align-items: center;
    background-color: lightblue;
    height: 150px;
}

.iconStyles {
    font-size: 2.5rem;
    padding: 0.2rem;
}
#git:hover {
     color: dimgrey;
     cursor: pointer;
}
#linkedin:hover {
    color: blue;
    cursor: pointer;
}

#podcast:hover {
    color: green;
    cursor: pointer;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}