.footerStyles {
    display: flex;
    justify-Content: center;
    align-items: center;
    background-color: lightblue;
    height: 100px;
}

.iconStyles {
    font-size: 2.5rem;
    padding: 0.2rem;
}
#git:hover {
     color: dimgrey !important;
     cursor: pointer;
}
#linkedin:hover {
    color: blue !important;
    cursor: pointer;
}

#podcast:hover {
    color: green !important;
    cursor: pointer;
}
footer{
    width: 100vw;
}